/*** Colores ***/
$blanco: #FFFFFF;
$negro: #000000;
$colorPrimario: #C2B2B4;

//CV Batman
$colorPrimarioCVBatman: #005677;
$colorSecundarioCVBatman: #C4C4C4;

//Súpers
$colorPrimarioSupers: #00669F;
$colorSecundarioSupers: #1CD1B0;
$colorTerciarioSupers: #001D2D;

//Pet Shop
$colorPrimarioPetShop: #F0A83E;
$colorSecundarioPetShop: #3C2313;

//Pizzería
$colorPrimarioPizzeria: #E5E5E5;
$colorSecundarioPizzeria: #222222;

//Game Shop
$colorPrimarioGameShop: #222222;
$colorSecundarioGameShop: #D01418;


/*** Media Queries ***/
$desktop: 1024px;